@{
    ViewBag.Title = "Receipt";
}

<h2>Breakfast Order</h2>

<p>Good morning @ViewBag.Name!</p>

<p>You have ordered: @ViewBag.BreakfastItems.<br />
Total Price: <strong>@ViewBag.TotalPrice</strong>
</p>

You order will be prepared and delivered <br />to room @ViewBag.RoomNumber, @ViewBag.Time.